/*===================================
    L-footer
====================================*/
.l-footer {
    padding: 16px 0;
    background: $color_point;
    color: #fff;
    text-align: center;
}